.LeaseAmount {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 427px;
    gap: 24px;
    position: relative;
}

.LeaseAmount_title {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #575757;
}

.LeaseAmount_content {
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    color: #333333;
}

@media screen and (max-width: 767px) {
    .LeaseAmount {
        gap: 2px;
    }
    .LeaseAmount_title {
        font-size: 14px;
        line-height: 136%;
    }
    .LeaseAmount_content {
        font-size: 22px;
        line-height: 20px;
    }
}

@media screen and (max-width: 319px) {
    .LeaseAmount {
        gap: 0.6vw;
    }
    .LeaseAmount_title {
        font-size: 2vw;
        line-height: 136%;
    }
    .LeaseAmount_content {
        font-size: 6vw;
        line-height: 6vw;
    }
}
